<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Lista peliculas</title>
<link href='css/bootstrap.min.css' rel='stylesheet'>
<link href='css/custom.css' rel='stylesheet'>
<!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
<script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
<![endif]-->
</head>
<body>
<div class='container'>
<div class='row'>

<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded' src='https://ia.media-imdb.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,643,1000_AL_.jpg' alt=''>
</a>
<h3>
<a href='#'>Back to the future</a>
</h3>
<ul>
<li>Genero:Aventura</li>
<li>Puntaje:86</li>
<li>Duracion:116</li>
</ul>
<p>A young man is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his friend, Dr. Emmett Brown, and must make sure his high-school-age parents unite in order to save his own existence.</p>
</article>

<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded' src='https://ia.media-imdb.com/images/M/MV5BZWFlYmY2MGEtZjVkYS00YzU4LTg0YjQtYzY1ZGE3NTA5NGQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg' alt=''>
</a>
<h3>
<a href='#'>The Shining</a>
</h3>
<ul>
<li>Genero:Drama</li>
<li>Puntaje:63</li>
<li>Duracion:146</li>
</ul>
<p>A family heads to an isolated hotel for the winter where an evil spiritual presence influences the father into violence, while his psychic son sees horrific forebodings from the past and of the future.</p>
</article>

</div>
</div>
<script src='js/jquery-1.11.3.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/ie10-viewport-bug-workaround.js'></script>
<script src='js/holder.min.js'></script>
</body>
</html>
